.Dashboard {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(10rem, 20rem) 1fr;
}

.Dashboard aside {
  box-shadow: 0 0 3px var(--color-c2);
  z-index: 1;
}

.Dashboard main {
  display: grid;
  grid-gap: 1rem;
  background: var(--color-c4);
  padding: 1rem;
}

.Dashboard main .weekly-revenue,
.Dashboard main .messages {
  background: var(--color-bg-normal);
  padding: 1rem;
}
.Dashboard .objects-box {
  display: flex;
  flex-wrap: wrap;
}
.Dashboard .object-list {
  flex: 1 0 100%;
  display: flex;
  overflow: auto;
}
.Dashboard .object-list button {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
  background: var(--color-bg-normal);
  box-shadow: 0 0 3px var(--color-c2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dashboard .object-list .object-name {
  position: absolute;
}

.Dashboard main.--isDetailsOpen {
  filter: blur(1px)
}

.Dashboard .ObjectDetails {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}