.root {
  transform: rotateZ(-90deg);
  width: 100%;
}

.root :global(circle) {
  fill: none;
  stroke: rgb(126, 126, 126);
  stroke-width: 5px;
}

.root :global(circle:nth-child(1)) {
  stroke: var(--color-a2);
}
.root :global(circle:nth-child(2)) {
  stroke: var(--color-a3);
}
.root :global(circle:nth-child(3)) {
  stroke: var(--color-a1);
}